.projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.project {
    background: var(--primary_colour);
    border-radius: 0rem 0rem 2rem 2rem;
    border: 1px solid var(--primary_colour);
    height: fit-content;
    transition: var(--transition1);
}

.project:hover {
    background: transparent;
    cursor: default;
}

.project:hover .project__head h3,
.project:hover .project__list p,
.project:hover .project__tech,
.project:hover .project__date {
    color: var(--white);
}

.project__head {
    background: transparent;
    padding: 2rem;
    border-radius: 2rem 2rem 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    transition: var(--transition1);
    color: var(--background_colour);
}

.project__head h3 {
    transition: var(--transition1);
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 0.6rem;
    font-size: 1rem;
    text-align: center;
}

.project__date {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
    transition: var(--transition1);
}

.project__tech {
    text-align: center;
    font-size: 0.85rem;
    font-style: italic;
    padding-bottom: 0.6rem;
    transition: var(--transition1);
    color: var(--background_colour_variant);
}

.project__list {
    padding: 2rem;
    transition: var(--transition1);
}

.project__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.project__list-icon {
    color: var(--background_colour_variant);
    margin-top: 5px;
    width: 3rem;
}

.project__list p {
    font-size: 0.9rem;
    color: var(--background_colour);
    transition: var(--transition1);
}

/*Medium Screen*/
@media screen and (max-width: 1024px) {
    .projects__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .project {
        height: auto;
    }
}

/*Small Screen*/
@media screen and (max-width: 600px) {
    .projects__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
