.education__container {
    display: flex;
    justify-content: center;
}

.education__card {
    background: rgba(32, 35, 42, 0.85);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2rem 2rem 2rem 2rem;
    width: 60%;
    transition: var(--transition1);
}

.education__card:hover {
    background: transparent;
    cursor: default;
}

.education__card:hover .education__head h3,
.education__card:hover .education__list p,
.education__card:hover .education__date,
.education__card:hover .education__degree {
    color: var(--white);
}

.education__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition1);
    color: var(--white);
}

.education__logo {
    width: 6rem;
    height: auto;
}

.education__head h3 {
    transition: var(--transition1);
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    text-align: center;
}

.education__date {
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 0.6rem;
    transition: var(--transition1);
}

.education__degree {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 0.6rem;
    transition: var(--transition1);
}

.education__list {
    padding: 2rem;
    transition: var(--transition1);
}

.education__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.education__list-icon {
    color: var(--background_colour_variant);
    margin-top: 5px;
    width: 3rem;
}

.education__list p {
    font-size: 0.9rem;
    color: var(--white);
    transition: var(--transition1);
}

/*Medium Screen*/
@media screen and (max-width: 1024px) {
    .education__card {
        width: 80%;
    }
}

/*Small Screen*/
@media screen and (max-width: 600px) {
    .education__card {
        width: 100%;
    }
}
