.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: rgba(32, 35, 42, 0.85);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  transition: var(--transition1);
  display: block;
  color: var(--white);
}

.contact__option:hover {
  background: transparent;
  border: 1px solid;
  border-color: var(--primary_colour);
}

.contact__option h4 {
  color: var(--white);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary_colour);
}


form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.0rem;
  border-radius: 0.5rem;
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid var(--primary_colour);
  font-size: 1rem;
  resize: none;
  transition: var(--transition1);
  color: var(--white);
}

/*Medium Screen*/
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/*Small Screen*/
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container_width_small);
  }
}

/* Define the animation */
@keyframes emailSentAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Apply the animation to the icon */
.email-sent-icon {
  animation: emailSentAnimation 1s ease-in-out;
}

.contact__option h5 {
  color: var(--light_gray);
}